extends layout
block content
  main 
    .parametre 
      nav 
        ul
          li: a(href="/addMeuble").link Ajouter un meuble
          li: a(href="/addMateriau").link Ajouter un materiau
          li: a(href="/addCategorie").link Ajouter une categorie
          li: a(href="/addEntreprise").link Ajouter une entreprise
      hr
      h2 Categories
       form(action="",method="post")
        fieldset 
          legend Filtrage meuble par tags
          ul  
            each categorie in categories
              li #{categorie.name}
                input(type="radio", name="categorie" value=categorie._id) 
          <input type="text" id="tags" name="tags"/>
          <button type="submit">Recherher</button> 
    .show_datas
      each meubleAfficher in meuble
        div.card
          h3 #{meubleAfficher.name}
          each categorie in categories
            if categorie._id.toString() == meubleAfficher.categorie
              p #{categorie.name}
              p #{meubleAfficher.tags}
              p Quantité: #{meubleAfficher.qte}
              a(href="/editMeuble/"+meubleAfficher._id) Editer